.container-doimk {
    text-align: center;
    margin: 20px 150px;
    font-size: 20px;
    line-height: 50px;
}
.title {
    margin-left: 180px;
    font-weight: bold;
    color: green;
    text-align: center;
    font-size: 30px;
}
.btn-doimk {
    color: #fff !important;
    background-color: #5cb85c !important; 
    border-color: #4cae4c !important;
    width: 50%;
    font-size: 15px !important;
    margin-left: 88%;
    margin-top: 20px !important;
}
input[type="text"],input[type="password"],input[type="number"] {
    width: 250% !important;
    font-size: 15px !important;

}
select {
    width: 300% !important;
    padding: 10px !important;
    font-size: 15px !important;
}
table {
    line-height: 3;
}
tr>td {
    color: green;
    font-weight: bold;
    width: 220px;
}
.form_doimk {
    margin-left: 3%;
}
